@font-face {
	font-family: 'exo-regular';
	src: url('../fonts/Exo-2/Exo2Regular/Exo2Regular.eot');
	src: url('../fonts/Exo-2/Exo2Regular/Exo2Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo-2/Exo2Regular/Exo2Regular.woff') format('woff'),
	url('../fonts/Exo-2/Exo2Regular/Exo2Regular.ttf')  format('truetype');
}
@font-face {
	font-family: 'exo-bold';
	src: url('../fonts/Exo-2/Exo2Bold/Exo2Bold.eot');
	src: url('../fonts/Exo-2/Exo2Bold/Exo2Bold.ttf') format('embedded-opentype'),
	url('../fonts/Exo-2/Exo2Bold/Exo2Bold.woff') format('woff');
}
@font-face {
	font-family: 'russo-regular';
	src: url('../fonts/RussoOne/RussoOne.eot');
	src: url('../fonts/RussoOne/RussoOne.ttf') format('embedded-opentype'),
	url('../fonts/RussoOne/RussoOne.woff') format('woff');
}
@font-face {
	font-family: 'exo-light';
	src: url('../fonts/Exo-2/Exo2Light/Exo2Light.eot');
	src: url('../fonts/Exo-2/Exo2Light/Exo2Light.ttf') format('embedded-opentype'),
	url('../fonts/Exo-2/Exo2Light/Exo2Light.woff') format('woff');
}
@font-face {
	font-family: 'exo-light-italic';
	src: url('../fonts/Exo-2/Exo2LightItalic/Exo2LightItalic.eot');
	src: url('../fonts/Exo-2/Exo2LightItalic/Exo2LightItalic.ttf') format('embedded-opentype'),
	url('../fonts/Exo-2/Exo2LightItalic/Exo2LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'exo-medium';
	src: url('../fonts/Exo-2/Exo2Medium/Exo2Medium.eot');
	src: url('../fonts/Exo-2/Exo2Medium/Exo2Medium.ttf') format('embedded-opentype'),
	url('../fonts/Exo-2/Exo2Medium/Exo2Medium.woff') format('woff');
}
@font-face {
	font-family: 'exo-thin';
	src: url('../fonts/Exo-2/Exo2Thin/Exo2Thin.eot');
	src: url('../fonts/Exo-2/Exo2Thin/Exo2Thin.ttf') format('embedded-opentype'),
	url('../fonts/Exo-2/Exo2Thin/Exo2Thin.woff') format('woff');
}

body {
	font-family: 'exo-regular', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1170px;
}

.m-auto {
	margin: auto;
}

/* HEADER */

.main-header {
	padding: 16px 0 10px;
}

.img-responsive {
	display: block;
}

.menu-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.menu-list-link {
	font-weight: 400;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	line-height: 12px;
	color: #222;
}

.menu-list-link:hover {
	text-decoration: none;
	color: #06bc7e;
}

.p-tel-link {
	margin: 0;
	line-height: 16px;
}

.tel-link {
	color: #222;	
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
}

.tel-wrapper {
	text-align: right;
	padding: 5px 0;
	position: relative;
}

.tel-wrapper::before {
	content: '';
	position: absolute;
	width: 16px;
	height: 27px;
	background-image: url(../img/Mobile.png);
	top: 0;
	bottom: 0;
	left: -110px;
	right: 0;
	margin: auto;
	display: block;
}

.tel-link:hover {
	text-decoration: none;
	color: #06bc7e;
}

/* First page */

.first-screen {
	background: #06bc7e url(../img/toyota.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 148px;
	padding-bottom: 52px;
}

.first-title {
	font-family: 'russo-regular';
	font-size: 72px;
	color: #ffffff;
	letter-spacing: 2.18px;
	text-transform: uppercase;
	line-height: 57px;
	font-weight: 400;
}

.second-title {
	font-family: 'exo-bold';
	font-size: 28px;
	letter-spacing: 1.12px;
	text-transform: uppercase;
	line-height: 23px;
	margin-bottom: 0;
}

.second-title-in {	
	font-size: 28px;
	letter-spacing: 1.12px;
	text-transform: uppercase;
	line-height: 23px;
}

.second-title-out {
	font-family: 'exo-light';
	font-size: 24px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	line-height: 20px;
}

.text-title {
	font-family: 'russo-regular';
	font-size: 146px;
	color: #f7fe2d;
	letter-spacing: 4.32px;
	line-height: 130px;
	margin-bottom: 5px; 
}

.titles-wrapper {
	margin: -5px 2px;
}

.contact-form-wrapper {
	padding-bottom: 14px;
}

.contact-form {
	box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.25);
	background-color: #dd6d4b;
	padding: 32px 25px 40px 25px;
}

.contact-form-title {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	line-height: 14px;
	margin-bottom: 22px;
}

.contact-form-group {
	margin-bottom: 23px;
}

.contact-form-input {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 4px;
	background-color: #fff;
	font-family: 'exo-light-italic';
	padding: 5px 7px;
	font-size: 12px;
	line-height: 10px;
}

.btn-wrapper {
	padding-top: 12px;
	text-align: center;
}

.yellow-btn {
	display: inline-block;
	border-radius: 4px;
	background-color: #ffee00;
	padding: 10px 30px;
	font-size: 12px;
	border: 0;
	line-height: 10px;
	text-transform: uppercase;
	cursor: pointer;
}

/* Second page */

.benefits-section {
	padding: 77px 0 56px;
	background-color: #06bc7e;
}

.section-title {
	font-family: 'russo-regular', sans-serif;
	color: #fff;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 1.28px;
	margin-bottom: 80px;
	z-index: 1;
}

.section-title::before {
	content: '';
	position: absolute;
	width: 87px;
	height: 70px;
	background-color: #dd6d4b;
	z-index: -1;
	top: -20px;
	left: -46px;
}

.section-title::after {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 73px;
	height: 4px;
	bottom: -10px;
	left: 24px;
}

.benefits-item {
	text-align: center;
}

.benefits-img-wrapper {
	height: 132px;
	position: relative;
	margin-bottom: 26px;
}

.benefits-img {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.bag {
	max-width: 120px;
}

.benefits-title {
	color: #f7fe2d;
	text-transform: uppercase;
	line-height: 14px;
	margin-bottom: 12px;
	letter-spacing: 0.64px;
	font-size: 16px;
}

.benefits-text {
	font-family: 'exo-light';
	line-height: 14px;
	font-size: 12px;
	color: #fffefe;
	margin: 0;
	letter-spacing: 0.48px;
}

.car {
	max-width: 198px;
}

.doc {
	max-width: 130px;
}

.hand {
	max-width: 114px;
}

/* Price */

.price-section {
	background: url(../img/red.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 173px;
}

.price-title {
	padding-top: 32px;
	font-family: 'exo-medium';
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 1.12px;
}

.price-wrapper {
	text-align: center;
}

.price-btn-wrapper {
	margin: 23px 0 41px 0;
}

.price-btn {
	background-color: #ffee00;
	border-radius: 8px;
	border: 0;
	width: 225px;
	height: 37px;
	font-size: 16px;
	color: #222;
	text-transform: uppercase;
	letter-spacing: 0.64px;
	cursor: pointer;	
}

/* Review */

.review-section {
	padding: 77px 0 56px;
}

.review-title-wrapper {
	z-index: 1;
	text-align: center;
	margin-top: 60px;
}

.review-title {
	font-family: 'russo-regular';
	font-size: 32px;
	color: #222;
	line-height: 38px;
	letter-spacing: 1.28px;
	text-transform: uppercase;
}

.review-title::before {
	content: '';
	position: absolute;
	width: 87px;
	height: 70px;
	background-color: #dd6d4b;
	z-index: -1;
	top: -15px;
	left: -40px;
}

.review-title::after {
	content: '';
	position: absolute;
	background-color: #222;
	width: 73px;
	height: 4px;
	bottom: -6px;
	left: 20px;
}

.review-block-wrapper {
	border: 4px solid #06bc7e;
	margin-top: 68px;
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.review-img-wrapper {
	display: flex;
	justify-content: space-between;
	max-height: 60px;
	margin: 13px 30px;
}

.review-block-title {
	font-family: 'exo-medium', sans-serif;
	font-size: 14px;
	line-height: 12px;
	color: #222;
	letter-spacing: 0.56px;
}

.review-text {
	font-family: 'exo-light', sans-serif;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.48px;
	padding: 0 20px;
}

.review-img-item {
	max-width: 60px;
	max-height: 60px; 
	margin: auto;
}

.kav {
	opacity: .16;
	font-family: russo-regular;
	font-size: 152px;
	line-height: 133px;
	color: #dd6d4b;
}

.review-btn-wrapper {
	margin: 38px 0 58px;
	text-align: center;
}

.review-btn {
	background-color: #dd6d4b;
	border-radius: 8px;
	border: 0;
	width: 225px;
	height: 37px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.64px;
	cursor: pointer;
}

.carousel-indicators {
	position: absolute;
	bottom: -13px;
}

.carousel-indicators li {
	background-color: #000;
}
.carousel-indicators .active {
	background-color: #008000;
}

/* Five ways */

.five-ways-section {
	background-color: #06bc7e;
	padding: 77px 0 56px;
}

.five-ways-title {
	font-family: 'russo-regular', sans-serif;
	font-size: 32px;
	color: #fff;
	letter-spacing: 2.28px;
	z-index: 1;
	padding: 0 0 60px 0;
	line-height: 38px;
}

.five-ways-title::before {
	content: '';
	position: absolute;
	width: 87px;
	height: 104px;
	background-color: #dd6d4b;
	z-index: -1;
	top: -6px;
	left: -35px;
}

.five-ways-title::after {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 73px;
	height: 4px;
	bottom: 52px;
	left: 33px;
}

.ways-item {
	text-align: center;
	position: relative;
}

.ways-img-wrapper {
	height: 132px;
	position: relative;
	margin-bottom: 26px;
	text-align: center;
}

.docu {
	max-width: 100px;
	position: absolute;
	left: 52px;
	right: 0;
	bottom: 0;
}

.manager {
	max-width: 115px;
	position: absolute;
	left: 30px;
	right: 0;
	bottom: 0;
}

.auto {
	max-width: 150px;
	position: absolute;
	left: 40px;
	right: 0;
	bottom: 0;	
}

.contract {
	max-width: 119px;
	position: absolute;
	left: 60px;
	right: 0;
	bottom: 0;	
}

.pay {
	max-width: 144px;
	position: absolute;
	left: 28px;
	right: 0;
	bottom: 0;
}

.way-title {
	font-family: 'exo-bold', sans-serif;
	color: #f7fe2d;
	text-transform: uppercase;
	line-height: 11.5px;
	margin-bottom: 12px;
	letter-spacing: 0.64px;
	font-size: 16px;
}

.way-text {
	line-height: 17px;
	font-size: 12px;
	color: #fffefe;
	margin: 0;
	letter-spacing: 0.48px;
}

.strelka_docu:after {
	content: url(../img/strelka.png);
	position: absolute;
	left: 200px;
	top: 65px;
}

.strelka_manager:after {
	content: url(../img/strelka.png);
	position: absolute;
	left: 200px;
	top: 65px;
}

.strelka_auto:after {
	content: url(../img/strelka.png);
	position: absolute;
	left: 220px;
	top: 65px;
}

.strelka_contract:after {
	content: url(../img/strelka.png);
	position: absolute;
	left: 200px;
	top: 65px;
}

/* Bought out */

.bought-out-section {
	padding: 77px 0 56px 0;
}

.bought-out-title {
	text-align: center;
	font-family: 'russo-regular';
	font-size: 32px;
	font-weight: 400;
	line-height: 32px;
	color: #222;
	letter-spacing: 1.28px;
	text-transform: uppercase;
	padding: 0 0 70px 0px;
	margin: 0 0;
}

.bought-out-title::before {
	content: '';
	width: 87px;
	height: 70px;
	background-color: #dd6d4b;
	position: absolute;
	left: -35px;
	right: 0;
	bottom: 0;
	top: -16px;
	z-index: -1;
}

.bought-out-title::after {
	content: '';
	width: 73px;
	height: 4px;
	background-color: #222;
	position: absolute;
	left: 24px;
	right: 0;
	bottom: 0;
	top: 37px;
}

.bought-out-green {
	background-color: #06bc7e;
	box-sizing: border-box;
	text-align: center;
}

.bought-out-text {
	padding: 14px 0 14px;
	font-family: 'exo-bold', sans-serif;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.64px;
	line-height: 11.5px;
	margin-bottom: 0;
}

/* Questions? */

.questions-section {
	padding: 58px 0 30px;
}

.questions-title {
	font-family: 'exo-bold', sans-serif;
	text-align: center;
	font-size: 28px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	position: relative;
	line-height: 24px;
	margin-bottom: 56px;
}

.questions-title::before {
	content: '';
	position: absolute;
	width: 218px;
	height: 2px;
	background-color: #222;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -14px;
}

.question-text {
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 1.12px;
	text-align: center;
	margin-bottom: 30px;
	line-height: 27px;
	margin-top: 55px;
}

.q-text-in {
	text-transform: uppercase;
	color: #dd6d4b;
}

.questions-tel-wrapper {
	text-align: center;
	margin: 0 0 8px 0;
}

.questions-tel {
	font-size: 28px;
	color: #06bc7e;
	letter-spacing: 1.12px;
	line-height: 30px;
}

.questions-tel:hover {
	text-decoration: none;
	color: #06bc7e;
}

.questions-btn {
	background-color: #dd6d4b;
	border-radius: 8px;
	border: 0;
	width: 225px;
	height: 37px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.64px;
	cursor: pointer;
}

.questions-btn-wrapper {
	text-align: center;
	margin: 26px 0;
}

.pos-r {
	position: relative;
}

.questions-img {
	position: absolute;
	width: 242px;	
	height: 325px;
	left: 15px;
	bottom: -30px;
	background-image: url(../img/----------------.png);
}

/* Footer */

footer {
	background-color: #06bc7e;
	padding: 44px 0 44px;
	color: #fff;
}
 
.footer-img-wrapper {
	position: relative;
}

.footer-img-wrapper::after {
	content: '';
	width: 114px;
	height: 2px;
	background-color: #fff;
	position: absolute;	
	left: 0;
	right: 0;
	bottom: 0;
	top: 70px;
}

.footer-text {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.48px;
	padding-top: 24px;
}

.footer-text-in {
	font-family: 'exo-thin';
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.48px;
}

.footer-title {
	font-family: 'exo-bold';
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.64px;
	text-transform: uppercase;
	padding-bottom: 26px;
}

.footer-title::after {
	content: '';
	width: 114px;
	height: 2px;
	background-color: #fff;
	position: absolute;	
	left: 15px;
	right: 0;
	bottom: 0;
	top: 32px;
}

.footer-list {
	list-style: none;
}

.footer-list-item {
	line-height: 16px;
}

.footer-list-link {
	font-size: 14px;
	letter-spacing: 0.56px;
	color: #fff;
}

.footer-list-link:hover {
	text-decoration: none;
	color: #ffee00;
}

.footer-tel-wrapper, 
.footer-address {
	text-align: right;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.56px;
	position: relative;
}

.footer-address:before {
	content: url(../img/placeholder-for-map.png);
	position: absolute;
	right: -30px;
	top: 2px;
	width: 100%;
}

.footer-tel-link:after {
	content: url(../img/telfoot.png);
	position: absolute;
	right: -25px;
	top: 2px;
}

.footer-tel-link {
	margin: 0;
}

.f-t-link {
	color: #fff;
}

.f-t-link:hover {
	text-decoration: none;
}

.footer-tel-wrapper {
	margin-bottom: 30px;
}

.footer-bottom-text {	
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.64px;
	text-transform: uppercase;
	padding: 11px 0 11px;
	color: #fff;
	margin-bottom: -16px;
}

.footer-bottom-section {
	background-color: #dd6d4b;
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}

